:root {
  --bg-color: #02315E;
  --text-color: #fff;
  --btn-color: #2F70AF;
  --btn-border-color: #00457E;
  --border-color: #021a30;
  --container-max-width: 380px;
  --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #245b91;
  box-sizing: border-box;
}

h3 {
  font-size: 20px;
  text-align: center;
}

p{
  padding:10px
}

.form-control {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.btnGerar {
  margin-top: 10px;
  font-weight: bold;
  background-color: var(--btn-color);
  color: var(--text-color);
  border: 1px solid var(--btn-border-color);
  border-radius: var(--border-radius);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.tabuada-container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.btn {
  justify-content: center;
  display: flex;
}

#resultado {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media queries */
@media (max-width: 768px) {
  :root {
    --container-max-width: 100%;
  }
}
